@font-face {
    font-family: 'Hero';
    src: local('Hero Light'), local('Hero-Light'), url('../fonts/Herolight.woff2') format('woff2'), url('../fonts/Herolight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Hero';
    src: local('Hero Regular'), local('Hero-Regular'), url('../fonts/Heroregular.woff2') format('woff2'), url('../fonts/Heroregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hero';
    src: local('Hero Bold'), local('Hero-Bold'), url('../fonts/Herobold.woff2') format('woff2'), url('../fonts/Herobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #242424;
  font-weight: 400;
  height: 100vh;
  min-width: 380px;
  overflow: hidden;
  background-color: black;
  background-image: url('../img/Screenshot_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Hero', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0;
  max-width: calc(100vw - 3%);
  width: 100%;
  margin: 0 auto;
  position: relative;
}

p {
  margin: 0;
}

.title {
  margin: 0;
}

@keyframes anim{
  0%{
    transform: translateX(-10%);
  }
  50%{
    transform: translateX(-30%);
  }
  100%{
    transform: translateX(-10%);
  }
}

.title__bs{
  font-weight: 400;
  font-size: 5vw;
  line-height: 80%;
  color: #fff;
  text-transform: uppercase;
}

.title__ms{
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 120%;
  color: #fff;
}

.title__ss{
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 130%;
}

/*header*/

header{
  height: 100%;
}

#header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.header{
  justify-content: end;
}

.header__nav{
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__nav .header__link{
  display: block;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.header__nav .header__link:hover{
  animation: anim 1s infinite ease-in-out;
}

.header__am{
  flex-direction: column;
  justify-content: start;
  width: 100%;
  color: #FFFFFF;
}

.header__blog{
  width: 50%;
}

.tabs-item--active{
  display: flex !important;
}

/*me*/

#me{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background-image: url('../img/Screenshot_1.jpg');
  background-size: 100% 150%;
  background-repeat: no-repeat;
  background-color: black;
}

.me{
  max-width: calc(100vw - 15%);
  margin: 0 auto;
  flex-direction: column;
}

.me__nav{
  width: 100%;
  height: 100px;
  align-items: center;
  margin-bottom: 47px;
  justify-content: end;
}

.me .me__nav{
  margin-bottom: 0;
}

.me__link{
  color: #fff;
}

.me__link:not(:last-child){
  margin-right: 40px;
}

.me__wrapper{
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
}

.me__top-block{
  margin-bottom: 30px;
}

.me__top-left{
  margin-right: 30px;
}

.me__title{
  margin-bottom: 30px;
}

.me__descr,
.me__descr2{
  color: #fff;
}

.me__photo{
  mix-blend-mode: lighten;
  margin-top: 47px;
  width: 20vw;
  height: 24vw;
}

.me__top-left,
.me__top-right{
  width: calc(50% - 15px);
}

.me__descr2{
  margin-bottom: 30px;
}

.me__left-two .me__descr{
  margin-bottom: 0;
}

.me__left-one{
  margin-bottom: 50px;
}

.me__right-one{
  margin-bottom: 50px;
}

.me__caption{
  color: #fff;
  margin-bottom: 10px;
}

/* project */

#project{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../img/Screenshot_3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  display: none;
  width: 100%;
  height: 100%;
}

.project{
  max-width: calc(100vw - 15%);
  margin: 0 auto;
  padding-bottom: 50px;
}

.project__title{
  text-align: center;
  margin-bottom: 4%;
}

.project__wrapper{
  display: flex;
}

.project__item{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: background-color .3s ease-in-out;
  height: 52vh;
}

.project__svg img{
  width: 10vw;
  height: 10vw;
}

.project__link{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project__div{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.project__item:hover{
  background-color: rgba(184, 184, 184, .1);
}

.project__item:not(:last-child){
  margin-right: 48px;
}

.project__caption{
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 2vh;
}

.project__descr{
  color: #fff;
  text-align: center;
}

/* footer */

#footer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/Screenshot_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  display: none;
}

.footer{
  max-width: calc(100vw - 15%);
  width: 100%;
  margin: 0 auto;
}

.footer__descr{
  color: #FFFFFF;
  width: 50%;
  margin-bottom: 50px;
}

.footer__link-tel{
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
}

.footer__soc-links{
  margin-top: 20px;
}

.footer__link:not(:last-child){
  margin-right: 30px;
}

.footer__link svg{
  transition: transform .3s ease-in-out;
}

.footer__link:hover svg{
  transform: scale(1.2);
}

.footer__link:last-child{
  position: relative;
  cursor: pointer;
}

.footer__link:last-child svg + .popup{
  transition: opacity .3s ease-in-out;
}

.footer__link:last-child:hover svg + .popup{
  opacity: 1;
}

.popup {
  opacity: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  min-height: 30px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}

.owl-prev{
  position: absolute;
  top: -50px;
  right: 40px;
  width: 40px;
  height: 30px;
  margin-right: -1px;
  color: #fff !important;
  border: 1px solid #fff !important;
  transition: transform .3s ease-in-out;
}

.owl-prev:hover{
  transform: translate(-30%) scale(1.2);
}

.owl-next{
  position: absolute;
  top: -50px;
  right: 0;
  width: 40px;
  height: 30px;
  color: #fff !important;
  border: 1px solid #fff !important;
  transition: transform .3s ease-in-out;
}

.owl-next:hover{
  transform: translate(30%) scale(1.2);
}

@media (max-width: 1024px){
  .title__bs{
  font-size: 8vw;
}

.title__ms{
  font-size: 3.5vw;
}

.title__ss{
  font-size: 2.3vw;
}

.header__blog{
  width: 70%;
}

.me__photo{
  width: 30vw;
  height: 35vw;
}

.me__top-block{
  margin-bottom: 10px;
}

.project__svg img{
  width: 35vw;
  height: 35vw;
}

.footer__descr{
  width: 70%;
}
}
